* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: black;
}

#start-container {
    width: 40%;
    height: 40%;
    margin-top: 80px;
    padding: 20px;
    background-color: aqua;
}

#game-screen {
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 40%;
    margin-top: 80px;
    padding: 20px;
    background-color: rgb(140, 0, 255);
}

.question {
    margin-bottom: 70%;
    
}

.answers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: auto;
}

.answer {
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    &:hover {
        background-color: #ddd;
    }
}

.cancel {
    margin-top: 5%;
}

/* For normal screens */
@media screen and (min-width: 768px) {
    #game-container {
        height: 40%;
        width: 40%;
    }

    #game-screen {
        height: 40%;
        width: 40%;
    }
}

/* For mobile screens */
@media screen and (max-width: 767px) {
    #game-container {
        height: 60%;
        width: 75%;
    }

    #game-screen {
        height: 60%;
        width: 75%;
    }
}

/* For Ipad screens */
@media screen and (min-width: 768px) and (max-width: 1024px){
    #game-container {
        height: 55%;
        width: 55%;
    }

    #game-screen {
        height: 55%;
        width: 55%;
    }
}