*, *::before, *::after {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
* button:hover, *::before button:hover, *::after button:hover {
  cursor: pointer;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("../nebula.jpg");
  overflow: hidden;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
header .name-logo {
  height: 50%;
}
header .settings, header .help {
  transition: all 0.3s;
  transform-origin: 50% 50%;
  margin-right: 0.6%;
  margin-left: 0.6%;
}
header .settings:hover, header .help:hover {
  cursor: pointer;
}

.start-container, .game-screen {
  width: 35vw;
  height: 60vh;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.start-container .game-screen, .game-screen .game-screen {
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid white;
}
.start-container .play, .game-screen .play {
  justify-content: space-between;
  padding: 1.5em;
  margin: 1em;
  width: 50%;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  border: none;
  transition: all 0.3s;
  transform-origin: 50% 50%;
}
.start-container .play span, .game-screen .play span {
  margin: 0 auto;
  background-color: transparent;
  font-size: 1.7rem;
  color: white;
}
.start-container .play:active, .game-screen .play:active {
  background-color: white;
  color: black;
}
.start-container h2, .game-screen h2 {
  margin-top: 3%;
  color: white;
  letter-spacing: 2px;
}
.start-container .difficulty-container, .game-screen .difficulty-container {
  margin-top: 5%;
  width: 30vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.start-container .difficulty-container .button-difficulty, .game-screen .difficulty-container .button-difficulty {
  overflow: hidden;
  overflow-x: auto;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: white;
  padding: 5%;
  margin: 0 5px;
  transition: all 0.3s;
  transform-origin: 50% 50%;
}
.start-container .difficulty-container .button-difficulty:hover, .game-screen .difficulty-container .button-difficulty:hover {
  transform: scale(1.5);
  font-size: 1.8rem;
  font-weight: bold;
}

.popup-right {
  position: absolute;
  top: 15%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: none;
  border-right: none;
  width: 12vw;
  height: 40vh;
  border-radius: 0 0 0 20px;
  visibility: hidden;
  transition: visibility 0.5s, max-height 0.5s;
  max-height: 0;
  color: white;
  padding: 0px 12px;
  overflow: hidden;
}
.popup-right.open {
  visibility: visible;
  max-height: 100vw;
}
.popup-right .mode {
  align-self: flex-start;
  display: block;
  margin: 7% auto;
  padding: 10px;
  width: 80%;
  height: 20%;
  background: black;
  border: none;
  box-shadow: 0 0 10px -4px white;
  border-radius: 50px;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}
.popup-right .mode:nth-of-type(1), .popup-right .mode:nth-of-type(4) {
  background: linear-gradient(90deg, rgb(12, 2, 181) 0%, rgb(179, 3, 167) 100%);
  color: white;
}

.popup-left {
  position: absolute;
  top: 15%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: none;
  border-left: none;
  width: 12vw;
  height: 40vh;
  font-size: 1.2rem;
  border-radius: 0 0 20px 0;
  visibility: hidden;
  transition: visibility 0.5s, max-height 0.5s;
  max-height: 0;
  color: white;
  padding: 0px 12px;
  overflow: hidden;
}
.popup-left.open {
  visibility: visible;
  max-height: 100vw;
}
.popup-left ul {
  padding: 20px;
  margin-top: 10%;
  margin-left: 10%;
}
.popup-left ul li {
  margin-top: 10%;
}

@media only screen and (max-width: 390px) {
  .game-screen {
    margin: 1% auto;
    width: 95%;
    height: 80vh;
    gap: 10%;
  }
  .name-logo {
    width: 60%;
  }
  .popup-left, .popup-right {
    width: 43vw;
    height: 35vh;
    font-size: 1.1rem;
  }
  .popup-right .mode {
    width: 90%;
    width: 80%;
    margin: 6% auto;
    font-size: 1.1rem;
  }
  .start-container {
    margin-top: 25%;
    width: 100%;
    height: 80%;
  }
  .start-container .play {
    width: 80%;
  }
  .start-container .play:hover {
    cursor: pointer;
  }
  .start-container .difficulty-container {
    width: 85%;
  }
  .start-container .difficulty-container:hover {
    cursor: pointer;
  }
}
@media only screen and (max-width: 280px) {
  .game-screen {
    margin: 1% auto;
    width: 95%;
    height: 80vh;
    gap: 15%;
  }
  .game-screen .question-text {
    font-size: 1.5rem;
  }
  .game-screen .answer-button {
    font-size: 1rem;
  }
  .popup-left, .popup-right {
    width: 41vw;
    height: 35vh;
    font-size: 0.85rem;
  }
  .popup-left ul, .popup-right ul {
    margin-left: 0;
  }
  .popup-left li, .popup-right li {
    margin: 0;
  }
  .popup-right .mode {
    width: 100%;
    margin: 6% auto;
    font-size: 1.1rem;
  }
  .start-container {
    margin-top: 30%;
    width: 90%;
    height: 80%;
  }
  .start-container .play {
    width: 80%;
  }
  .start-container .play:hover {
    cursor: pointer;
  }
  .start-container h2 {
    letter-spacing: 0;
    font-size: 1.2rem;
  }
  .start-container .difficulty-container {
    width: 100%;
  }
  .start-container .difficulty-container .button-difficulty {
    font-size: 0.9rem;
  }
  .start-container .difficulty-container .button-difficulty:hover {
    transform: scale(1.3);
    font-weight: bold;
  }
  .start-container .difficulty-container:hover {
    cursor: pointer;
  }
}
@media only screen and (min-width: 391px) and (max-width: 480px) {
  .game-screen {
    margin: 1% auto;
    width: 95%;
    height: 80%;
    gap: 15%;
  }
  .name-logo {
    width: 65%;
  }
  .popup-left, .popup-right {
    width: 44vw;
    height: 30vh;
    font-size: 1.1rem;
  }
  .popup-right .mode {
    width: 90%;
    width: 80%;
    margin: 6% auto;
    font-size: 1.1rem;
  }
  .start-container {
    margin-top: 10%;
    width: 100%;
    height: 80%;
  }
  .start-container .play {
    width: 80%;
  }
  .start-container .play:hover {
    cursor: pointer;
  }
  .start-container .difficulty-container {
    width: 80%;
  }
  .start-container .difficulty-container:hover {
    cursor: pointer;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .difficulty-container {
    width: 50%;
  }
  .difficulty-container:hover {
    cursor: pointer;
  }
  .start-container {
    margin-top: 10%;
    width: 100%;
    height: 80%;
  }
}
@media only screen and (min-width: 1080px) {
  header .logo:hover {
    cursor: pointer;
  }
  header .settings:hover, .help:hover {
    transform: scale(1.6);
  }
  .start-container .play:hover {
    width: 70%;
    justify-content: space-evenly;
    cursor: pointer;
  }
  .cancel-button {
    margin-top: 10%;
  }
}
/*

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.938);
}

.banner {
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(132, 0, 255);
}

#start-container {
    width: 40%;
    height: 40%;
    margin-top: 80px;
    padding: 20px;
    background-color: rgb(62, 86, 223);
    border-radius: 20px;
}
*/
/*
#game-screen {
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 40%;
    margin-top: 80px;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 2px solid white;
}
*/
.question {
  height: 2rem;
  margin-top: 5%;
  margin-bottom: 30%;
}

.question-text {
  font-size: 2rem;
  font-weight: bold;
}

.continue-text {
  display: none;
  bottom: 55%;
  font-size: 1.2rem;
  font-weight: 500;
}

.answer-button {
  padding: 1.5em;
  width: 49%;
  height: 49%;
  border-radius: 1em;
  transition: background-color 0.3s ease;
}

.answer-class-dark {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 0 10px -2px white;
  border: none;
  gap: 1%;
}

.answer-class-light {
  background-color: white;
  color: rgb(0, 4, 78);
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 0 10px 2px rgb(0, 4, 78);
  border: none;
  margin: 0;
}

.correct-answer {
  background-color: green;
}

.wrong-answer {
  background-color: red;
}

.real-answer {
  border: 4px solid green;
}

.answers-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1%;
}

.game-icons {
  display: flex;
  justify-content: center;
  width: 100%;
}
.game-icons .cancel-button, .game-icons .reload-button {
  background: none;
  border: none;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 0.5em;
}
.game-icons .cancel-button:hover, .game-icons .reload-button:hover {
  cursor: pointer;
  scale: 1.5;
}
.game-icons .cancel-button:active, .game-icons .reload-button:active {
  color: rgb(179, 3, 167);
}
.game-icons .cancel-button:active svg, .game-icons .reload-button:active svg {
  stroke: rgb(179, 3, 167);
}
.game-icons .cancel-button .cancel-icon, .game-icons .cancel-button .reload-icon, .game-icons .reload-button .cancel-icon, .game-icons .reload-button .reload-icon {
  transition: scale 0.3s;
  transform-origin: 50% 50%;
}

/*
// For normal screens 
@media screen and (min-width: 768px) {
    #game-container {
        height: 40%;
        width: 40%;
    }

    #game-screen {
        height: 40%;
        width: 40%;
    }
}

// For mobile screens //
@media screen and (max-width: 767px) {
    #game-container {
        height: 60%;
        width: 75%;
    }

    #game-screen {
        height: 60%;
        width: 75%;
    }
}

// For Ipad screens //
@media screen and (min-width: 768px) and (max-width: 1024px){
    #game-container {
        height: 55%;
        width: 55%;
    }

    #game-screen {
        height: 55%;
        width: 55%;
    }
}
*/
.play-class-dark {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px -2px white;
}
.play-class-dark > .button-play {
  color: white;
}
.play-class-dark > .icon-plus {
  stroke: white;
  margin-top: 5px;
}
.play-class-dark:hover {
  border: 6px solid transparent;
  background: linear-gradient(to right, black, black), linear-gradient(90deg, rgb(12, 2, 181) 0%, rgb(179, 3, 167) 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow: none;
}

.play-class-light {
  background-color: white;
  box-shadow: 0 0 10px 2px rgb(0, 4, 78);
}
.play-class-light > .button-play {
  font-weight: bold;
}
.play-class-light > .icon-plus {
  stroke: rgb(0, 4, 78);
  stroke-width: 2;
  margin-top: 5px;
}
.play-class-light:hover {
  border: 10px solid transparent;
  background: linear-gradient(to right, white, white), linear-gradient(90deg, rgb(0, 255, 179) 0%, rgb(10, 0, 103) 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow: none;
}

.question-class-dark {
  color: white;
}

.question-class-light {
  color: rgb(0, 4, 78);
}

.cancel-class-dark {
  color: white;
}
.cancel-class-dark svg {
  stroke: white;
}

.cancel-class-light {
  color: rgb(0, 4, 78);
}
.cancel-class-light svg {
  stroke: rgb(0, 4, 78);
}/*# sourceMappingURL=style.css.map */